body {
 font-family: sans-serif;
}
h1, h2 {
 font-family: "URW Gothic L", "Century Gothic", sans-serif;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
table { 
	border-collapse: collapse;
	border-spacing: 0;
	border-width: 1px;
	border-style:solid;
	border-color: #cccccc;
}
td, th {
	border-style:solid;
	padding: 0.25em;
	border-width: 1px;
	border-spacing: 0;
	border-color: #cccccc;
	
}
/* Prevent Keys from being word-wrapped in tables. */
.Key {
	white-space: pre;
}